---
layout: default
---

<div class="container">
  <!-- begin author -->
  <section class="author" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="700">
    <div class="author__inner">
  <img src="{{site.baseurl}}{{site.author.image}}" alt="{{site.author.name}}" class="author__img">
      <h1 class="author__job">{{ site.author.job }}</h1>
      <p class="author__bio">{{ site.author.bio }}</p>
        <div class="socialmedia">
            <a href="https://dev.to/carolcode">
              <img src="https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg" alt="Icone de caixa preta escrito DEV em branco
              para meu perfil no site DEV to" height="35" width="35">
            </a>
            <a href="https://twitter.com/carolcode">
                <img src="/assets/img/twitter-256.png" alt="Icone de passarinho preto para meu perfil no Twitter" height="35" width="35">
            </a>
            <a href="https://instagram.com/carolcode">
              <img src="/assets/img/instagram-logo.png" alt="Icone de um contorno de camera preta para meu perfil no Instagram" height="35" width="35">
            </a>
            <a href="https://github.com/carolcodes">
                <img src="/assets/img/github-logo.png" alt="Icone de gato preto para meu perfil no Github" height="35" width="35">
            </a>
            <a href="https://linkedin.com/in/carolcode">
              <img src="assets/img/linkedin-256.png" alt="Icone com a palavra IN em preto para meu perfil no Linkedin" height="35" width="35">
            </a>







      </div>
    </div>
  </section>
  <!-- end author -->
</div>

<div class="container">
  {% if site.posts.size > 0 %}
    {% for post in site.posts %}
    <div class="article" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="800">
      {% if post.image %}
      <div class="article__image-box">
        <a href="{{post.url | prepend: site.baseurl}}" class="article__image" style="background-image: url({{site.baseurl}}{{post.image}})"></a>
      </div>
      {% endif %}
      <div class="article__content">
        <h2 class="article__title">
          <a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a>
        </h2>
        <div class="article__meta">
          <span class="article__date">Published <time datetime="{{ post.date | date_to_xmlschema }}">{% assign date_format = site.minima.date_format | default: "%B %-d, %Y" %}{{ post.date | date: date_format }}</time></span>
        </div>
        <p class="article__excerpt">{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | truncate: 130 }}{% endif %}</p>
        <a href="{{ post.url | prepend: site.baseurl }}" class="read-more">Continue lendo</a>
      </div>
    </div>
    {% endfor %}
  {% endif %}
</div>
