// *****************
// Color Variables
// *****************
$primary-color: #080660;
$secondary-color: #ffd001;
$dark: rgb(0, 0, 0);
$gray: #575757;
$gray-dark: #595959;
$gray-blue: #4C5770;
$gray-white: #f8f8f8;
$gray-lighten: #c7d0e2;
$white: #fff;
